body {
    margin: 0;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
}

.header {
   margin: 0 15px;
   height: 48px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.header__link {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #70757a;
    text-decoration: none;
}

.header__link:first-child {
    margin-right: 20px;
}

/* Google Search */
.main {
    margin: 64px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__logo {
    width: 160px;
    height: 56px;
}

.main__form {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__input {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 584px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 20px;
}

.search {
    width: 100%;
    padding: 0 15px 0 40px;
    margin: 0;
    line-height: 38px;
    font-size: 16px;
    color: rgba(0,0,0,.87);
    background-color: transparent;
    border-radius: 20px;
    outline: none;
    border: none;
}

.loupe {
    position: absolute;
    width: 20px;
    height: 30px;
    padding-left: 15px;
    background-image: url("../img/loupe.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.main__btns {
    margin-top: 30px;
}

.btn {
    margin: 0 4px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    text-align: center;
    font-size: 14px;
    color: #3c4043;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

@media (min-width: 768px) {
    .main {
        margin: 90px 0;
    }

    .main__logo {
        width: 320px;
        height: 112px;
    }

    .main__input {
        border-radius: 44px;
    }

    .search {
        line-height: 44px;
        border-radius: 44px;
    }

    .loupe {
        padding-left: 25px;
    }
}